/* font-family: 'Ubuntu', sans-serif; */

html,
body {
    width: 100%;
    height: 100%;
    min-height: 650px;
    background: #313131 url("../images/background.png") center no-repeat;
    background-size: cover;
}

.page_body {
    font-family: 'Ubuntu', sans-serif;
}


/* Header
============ */

.page_header {
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container_header {
    margin: 0 auto;
    padding: 0 79px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1366px;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
}

.header_1stitem {
    margin-right: auto;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
}

.sm_list {
    padding-left: 0;
    display: flex;
    line-height: 19px;
    justify-content: space-around;
}

.sm_item {
    margin-right: 25px;
}

.sm_item:last-child {
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 1px;
    height: 19px;
    align-self: center;
}

.header_3rditem {
    padding-left: 27px;
}

.account_details {
    padding-left: 0;
}

.link,
.link:visited {
    color: #fff;
}

.link:hover {
    color: #3CB878;
}

svg:hover * {
    fill: #3CB878;
}


/* Container
============ */

.main_content {
    height: calc(100% - 58px);
    display: flex;
    align-items: center;
}


/* Form
============ */

.form_holder {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 440px;
    height: 584px;
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form_inner {
    /* background-color: lightgrey; */
    margin: 38px 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.form_title {
    padding-left: 0;
    padding-right: 200px;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form_title--active {
    font-size: 14px;
    line-height: 20px;
    color: #3CB878;
}

.link--active,
.link--active:visited {
    color: #3CB878;
}

.link--button:hover {
    color: #fff;
}

.sm_button {
    margin: 15px auto;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 159px;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.sm_icon {
    margin: 0;
    padding: 16px 12px;
    display: inline-block;
}

.button_line {
    margin: 0;
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    border: none;
}

.sm_text {
    display: inline-block;
    margin: 0;
    padding-right: 22px;
    padding-left: 12px;
}

.sm_button--blue {
    background-color: #305DB8;
    margin-right: 6px;
}

.sm_button--red {
    background-color: #DF4A32;
}

.sm_button--blue:hover {
    background-color: #022263;
}

.sm_button--red:hover {
    background-color: #AB1F09;
}

.devider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 11px;
}

.devider_line {
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    border: none;
}

.devider_text {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.form_fields_item {
    margin: 0 auto;
    padding-left: 20px;
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    outline: none;
}

.form_fields_item:focus {
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}

.form_fields_item::placeholder {
    color: #bebebe;
    font-size: 14px;
    line-height: 14px;
}

.custom_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom_checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.custom_checkbox:checked+label::before {
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    background-image: url("../images/tick.svg");
}

.custom_checkbox:checked+label:hover::before {
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    background-image: url("../images/tick_darkgreen.svg");
}

.terms-conditions_text {
    padding-top: 2px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    position: relative;
}

.terms-conditions_text:hover .link {
    color: #01813F;
}

.terms-conditions_text:hover::after {
    content: "";
    width: 125px;
    height: 2px;
    padding-bottom: 1px;
    background-color: #01813F;
    position: absolute;
    z-index: 1;
    top: 25px;
    right: -1px;
    display: block;
}

.submit_button {
    margin-top: 20px;
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.submit_button:hover {
    background-color: #01813F;
}