/*font-family: 'Open Sans', sans-serif;*/

.page_body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #5B6469;
    background-color: #F2F2F2;
}

.background2 {
    background-color: #fff;
}


/*Container
================ */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}


/*Header
================ */

.page_header {
    width: 100%;
    display: flexbox;
    justify-content: space-between;
}

.header_logo {
    vertical-align: middle;
}

.image_logo {
    padding: 0 27px;
    display: inline;
    vertical-align: middle;
    line-height: 23px;
}

.logo_text {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    display: inline-block;
    line-height: 27px;
}

.search-field {
    padding: 27px;
    background-color: #000;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313131;
}

.main_menu {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    padding-left: 0px;
}

.navigation {
    justify-content: center;
}

.menu_item {
    color: #fff;
    justify-content: center;
    padding-right: 35px;
}

.menu_item:last-child {
    padding-right: 0;
}

.menu_link {
    color: #fff;
}

.menu_link--active {
    color: #14B9D5;
}

.menu_link:hover {
    color: #14B9D5;
}


/*Top Banner
================ */

.top_banner {
    display: flex;
    justify-content: center;
    height: 440px;
    position: relative;
    z-index: 1;
    background: #313131;
}

.top_banner::before {
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    height: 440px;
    background: #313131 url("../images/header-bg.jpeg") center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    background-attachment: fixed;
    background-position: 0px -100px;
}

.top_banner_inner {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.top_banner_title {
    color: #fff;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    padding-top: 242px;
    margin-bottom: 44px;
}

.button {
    display: inline-block;
    vertical-align: top;
    width: 170px;
    height: 55px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    border-radius: 2px;
    line-height: 25px;
    border: 0;
    transition: background;
    cursor: pointer;
}

.button--green {
    background-color: #89CA62;
    margin-right: 20px;
}

.button--blue {
    background-color: #14B9D5;
}


/*Section title
================ */

.section_title {
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    padding: 50px;
    margin: 0;
}


/*Most popular posts
================ */

.popular_posts_list {
    margin: 0 auto;
    padding-left: 0;
    max-height: 880px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}

.popular_posts_item {
    width: 370px;
    margin-bottom: 30px;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}


/*Most popular Clients
================ */

.clients {
    margin: 42px auto 0 auto;
    width: 100%;
    background: #313131 url("../images/customers/parallax-bg.jpeg") center no-repeat;
    height: 558px;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.clients::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 558px;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
}

.clients_title {
    margin-bottom: 87px;
    padding-top: 106px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #FFF;
    text-transform: uppercase;
}

.clients_line {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: none;
    margin-bottom: 106px;
}

.clients_list {
    margin: 0 auto;
    padding-left: 0;
    display: grid;
    max-width: 881px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    justify-items: center;
    align-items: center;
}


/* Top Rated
================ */

.rated_list {
    margin: 0 auto;
    padding-left: 0;
    display: grid;
    grid-auto-flow: column;
}


/* Hot News
================ */

.news {
    padding-bottom: 77px;
}

.news_list {
    margin: 0 auto;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(min-content, auto);
    grid-auto-rows: minmax(min-content, auto);
    justify-content: center;
    row-gap: 44px;
    column-gap: 35px;
}

.news_item {
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news_title {
    margin: 12px auto 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
    padding-right: 14px;
}

.news_title_center {
    text-align: center;
    padding-right: 0;
}

.news_text {
    margin: 0 auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    padding: 0 14px;
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.inner_grid {
    margin: 0 auto;
    padding-left: 0;
    display: grid;
    grid-template-columns: 483px auto;
    justify-content: start;
    align-items: center;
}


/* Footer Container
================ */

.footer_container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* Footer
================ */

.page_footer {
    background-color: #000;
}

.footer_inner {
    display: grid;
    grid-template-columns: auto 38px 64px;
    align-items: center;
    height: 80px;
}

.footer_copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
}

#toggleButton {
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px 30px;
}

#toTop {
    display: none;
    position: fixed;
    width: 60px;
    height: 30px;
    bottom: 90px;
    right: 3%;
    text-align: center;
    color: red;
}