/* на занятии сказали использовать стандартный шрифт, например, sans-serif */

.page_body {
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #373737;
    text-align: center;
}

.navigation {
    width: 620px;
    margin: 0 auto;
    background: #fff;
}

.page_menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu_link {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    letter-spacing: 2.7px;
    display: inline-block;
    padding-top: 31.5px;
    padding-bottom: 31.5px;
    /* я использую именно display:inline-block и padding для того, чтобы пункт меню был кликабельным при клике на всю область элемента, а не только на слово=пункт меню */
}

.banner {
    background: url(../images/tim-mossholder-full.jpg) 100% 100% no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 60%;
}

.text_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 48px 67.5px 10px 67.5px;
}

.container {
    max-width: 1145px;
    margin: auto;
}

.article_text {
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 28px 67.5px 0px 67.5px;
}

.calltoaction_button {
    text-transform: uppercase;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    color: #fff;
    border: none;
    text-align: center;
    letter-spacing: 2.4px;
    margin-bottom: 42px;
    margin-top: 66px;
}

.page_footer {
    text-align: right;
}

.footer_copyright {
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin: 40px 105px 29px 105px;
}

@media (max-width: 768px) {
    .page_menu {
        display: block;
        text-align: left;
    }
    .menu_item {
        margin: 10px;
    }
    .menu_link {
        padding-top: 0;
        padding-bottom: 0;
    }
}