.page_body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 50% 0 0 0;
    position: relative;
}

.page_body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 40%, rgba(20, 20, 20, 0) 100%);
}

.container {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    width: 60%;
    height: 100%;
    perspective: 950px;
}

.subheading,
.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
}

.animated_text {
    color: #ffc909;
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    text-align: justify;
    position: relative;
    animation: text-animation 30s linear infinite;
}

@keyframes text-animation {
    from {
        top: 0;
        transform: translateZ(0) rotateX(20deg);
    }
    to {
        top: -3500px;
        transform: translateZ(-700px) rotateX(21deg);
    }
}