html,
body {
    width: 100%;
    height: 100%;
    min-height: 720px;
    position: relative;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    background: #313131 url("../images/background_image.png") center no-repeat;
    background-size: cover;
    position: absolute;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
}

.container {
    width: 1030px;
    height: 700px;
    top: calc(50% - 350px);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
}


/* Page Header
================ */

.page_header {
    display: grid;
    grid-template-columns: 200px 1fr max-content;
    grid-template-rows: 61px;
    align-items: center;
}

.page_logo {
    display: grid;
    grid-template-columns: 53px 140px;
}

.text_logo1 {
    margin: 0;
    padding-left: 8px;
    font-weight: 600;
    font-size: 29px;
    line-height: 29px;
    display: inline-block;
}

.text_logo2 {
    margin: 0;
    padding-left: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
}

.page_logo:hover {
    color: #F26522;
}

.page_logo:hover .orange {
    display: block;
}

.page_logo:hover .white {
    display: none;
}

.contact_list {
    display: grid;
    row-gap: 19px;
}

.contact_item {
    text-align: end;
}

.link_style {
    color: #fff;
}

.link_style:hover,
.link_style:hover figcaption {
    color: #F26522;
}

.link_style:visited {
    color: #fff;
}

.orange {
    display: none;
}


/* Page Body
================ */

.gallery {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    column-gap: 65px;
    row-gap: 38px;
}

.gallery_item {
    margin: 0 auto;
    text-align: center;
}

.gallery_item_image {
    max-height: 220px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #b5bdc8 10%, #828c95 66%, #28343b 100%);
}

.gallery_item_title {
    padding-top: 20px;
}


/* Gallery Hover
================ */

.link_style:hover .gallery_image_hover {
    bottom: 0px;
    left: 0px;
}

.gallery_image_hover {
    background-color: #F26522;
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: -55px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.hover_from {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    position: absolute;
    left: 16px;
    top: 7px;
}

.hover_price {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    color: #FFF;
    position: absolute;
    left: 16px;
    bottom: 14px;
    vertical-align: bottom;
}

.hover_details {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #FFF;
    position: absolute;
    right: 14px;
    padding-right: 20px;
    bottom: 14px;
    vertical-align: bottom;
}

.hover_details::after {
    content: "";
    position: absolute;
    width: 7px;
    right: 0;
    height: 12px;
    bottom: -1px;
    background: url("../arch.png") no-repeat;
}

.gallery_image_holder {
    position: relative;
    overflow: hidden;
}


/* Page Footer
================ */

.footer_copyright {
    margin: 49px auto 15px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}


/* Page theme
================ */

.themeChanger {
    background: yellow;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
}

.page_body::before {
    background: green;
}