.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.active {
    display: block;
}

.play {
    display: none;
}

.play,
.pause {
    font-size: 50px;
    color: red;
    position: absolute;
    z-index: 10;
    top: 350px;
    left: 350px;
}

.counter {
    color: black;
    font-size: 30px;
    margin-left: 170px;
    margin-top: 20px;
}