/*font-family: 'Roboto', sans-serif;*/

.page_body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    padding-bottom: 30px;
}

.logo_link {
    color: #000000;
}


/*Container
================ */

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


/*Header
================ */

.header_logo {
    display: inline-block;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 1.1;
    margin-top: 63px;
    margin-bottom: 38px;
}

.accent-color {
    color: #4bcaff;
}

.top_menu {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #35444F;
    justify-content: center;
}

.top_menu_item {
    border-right: 1px solid #FFFFFF;
    padding-top: 26px;
    padding-bottom: 19px;
    padding-left: 32px;
}

.top_menu_item:first-child {
    padding-left: 32px;
    border-left: 1px solid #FFFFFF;
}

.top_menu_link {
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #FFFFFF;
    padding-right: 32px;
    margin-bottom: 48px;
}

.top_menu_item:hover {
    background-color: #222F3A;
}


/* Main
================ */

.two_blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
    align-items: flex-start;
}


/* Left Side
================*/

.left_side {
    max-width: 344px;
    width: 344px;
    border: 1px solid #0C1927;
}

.left_menu_list {
    padding-left: 0;
    margin: 0;
}

.left_menu_item {
    display: block;
    font-size: 27px;
    line-height: 27px;
    padding: 27px;
    transition: 0.5s;
}

.left_menu_item:hover {
    background-color: #dbdbdb;
    padding-left: 44px;
}

.left_menu_link {
    color: #485863;
}


/* Right Side
================*/

.right_side {
    max-width: 885px;
    width: 885px;
}

.picture_background {
    border: 1px solid #0C1927;
    text-align: center;
    padding: 75px;
}

.picture_background img {
    width: 320px;
    transition: 0.75s;
}

.picture_background:hover img {
    width: 360px;
    margin-top: -20px;
    margin-left: -20px;
}

.banner {
    width: 320px;
    height: 381px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plain_text {
    margin-top: 37px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    margin-top: 40px;
    display: block;
    background-color: #b4b7b9;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.bottom_menu {
    font-size: 28px;
    line-height: 28px;
}

.bottom_menu_list {
    padding: 0 0 0 20px;
}

.bottom_menu_item {
    display: inline-block;
    list-style: none;
    padding: 20px 0 20px 20px;
}

.bottom_menu_link:hover {
    color: #3281a7;
    padding-bottom: 10px;
    border-bottom: 1px solid #3281a7;
}

.bottom_menu_link {
    text-decoration: none;
    color: #0C1927;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    align-self: center;
    padding-right: 40px;
    color: #010101;
}

@media (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .top_menu {
        display: block;
        text-align: left;
    }
    .top_menu_item {
        margin: 10px;
        border: none;
    }
    .top_menu_link {
        padding-top: 0;
        padding-bottom: 0;
    }
    .top_menu_item:first-child {
        border: none;
    }
    .left_side {
        margin-bottom: 10px;
    }
    .footer {
        display: block;
    }
    .bottom_menu_item {
        display: block;
    }
    .copyright {
        text-align: left;
        padding: 0 40px 20px 40px;
    }
}